<div id="event-list" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    {% comment %} {% partialdef event_list inline=True %} {% endcomment %}
    {% for event in events %}
        <c-skeleton-wrapper>
            <c-card-event
            :event="event"
            />
            <p>Some event placeholder</p>
        </c-skeleton-wrapper>
    {% empty %}
        <p class="text-error col-span-3">No products available.</p>
    {% endfor %}
    {% comment %} {% endpartialdef %} {% endcomment %}
</div>
